<h2>Chat</h2>

<form>
  <input placeholder="Message..." ng-model="newMessage">
  <button type="submit" ng-click="addMessage()">send</button>
</form>

<ul id="messages" ng-show="messages">
    <li ng-repeat="message in messages | orderByPriority | reverse">{{message.text}}</li>
</ul>

<div class="col-sm-6">
    <table class="table table-condensed table-striped table-hover" ng-if="messages">
        <tr>
            <th>name</th>
            <th>id</th>
            <th>text</th>
        </tr>
        <tr ng-repeat="message in messages | orderByPriority | reverse">
            <td>{{message.name}}</td>
            <td>{{message.id}}</td>
            <td>{{message.text}}</td>
        </tr>
    </table>
</div>

<p>
  Running the 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
